<div>
  <img src="https://raw.githubusercontent.com/NormanWbr/WWEapi/e95294eff54ddc7c77b61a84ed8a05f563429079/src/main/java/be/wamberchies/WWEapi/WWE%20Photo/_WWE_LOGO.svg" alt="WWE Logo">
  <button routerLink="/superstar/all">Superstar</button> &nbsp;
  <button routerLink="/championship/all">Championship</button> &nbsp;
  <button routerLink="/team/all">Team</button> &nbsp;
  <button routerLink="/show/all">Show</button> &nbsp;
  <button routerLink="/prise/all">Prise</button>
  <form action="">
    <input type="text" placeholder="Search..">
  </form>
</div>
