/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Righteous', cursive;
  font-size: 30px;
  background: black;
  color: white;
}

.superstars{
  margin-top: 1%;
}

button{
  font-family: 'Righteous', cursive;
}
